/* HELPERS */
@import "./helpers/_vars";



//  MAIN STYLE


div {
    // background: #666;
    color: #000;
}

a {
    font-size: 40px;
}

.fillMe {
    fill: red;
    width: 50px;
}




@media (max-width: $desktop-xl) {}
@media (max-width: $desktop) {}
@media (max-width: $laptop) {}
@media (max-width: $tablet) {}
@media (max-width: $note) {}
@media (max-width: $phone-xl) {}
@media (max-width: $phone) {}