<header class="header">
    <div class="wrapper">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure dolores, alias at explicabo enim voluptatum adipisci.
        Aliquam, aliquid? Nulla quo fugiat voluptatum perferendis maiores! Autem consequatur magnam numquam natus! Qui.
        </div>

        <button class="burger">
            <i></i>
        </button>

        <div class="remodal formBox" data-remodal-id="callback">
            <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
            <form class="form form-validate" name="callback">

                <input type="hidden" name="project_name" value="">
                <input type="hidden" name="admin_email" value="">
                <input type="hidden" name="form_subject" value=" > Обратный звонок">
                <input type="hidden" name="whatform" value=" > Обратный звонок">

                <p class="form__title">Заполните форму</p>
                <p class="form__text">и мы свяжемся с Вами, <br> чтобы ответить на все вопросы</p>
                <input class="form__line form__line-top name" type="text" name="name" placeholder="Ваше имя" required aria-required="true">
                <input class="form__line phone-mask" type="text" name="phone" placeholder="Ваш телефон" minlength="10" required aria-required="true">

                <input class="form__btn btn" type="submit" value="Заказать звонок">
            </form>
        </div>
    </div>
</header>